<footer class="footer" id="footer">
  <ul class="link-list">
    <li>
      <a href="/resume" rel="noopener noreferrer" target="_blank">RESUME</a>
    </li>
    <li>
      <a
        href="mailto:m@rtin.ms"
        rel="noopener noreferrer"
        target="_blank"
      >
        EMAIL
      </a>
    </li>
    <li>
      <a
        href="https://twitter.com/ridelore"
        rel="noopener noreferrer"
        target="_blank"
      >
        TWITTER
      </a>
    </li>
    <li>
      <a
        href="https://github.com/phixion"
        rel="noopener noreferrer"
        target="_blank"
      >
        GITHUB
      </a>
    </li>
  </ul>
  <div class="js-space-trigger"></div>
</footer>
