---
layout: layouts/base.njk
textNav:
  aliases: [home, index]
eleventyNavigation:
  key: bio
  title: main
---
<article class="bio">
  <p class="big-text">
    Hi! I'm <span class="bio__photo" tabindex="0">Martin</span>!
    I'm a calm but curious person, who's passionate about
    <a href="https://github.com/phixion" target="_blank" rel="noopener noreferrer">open-source</a>,
    <a href="https://www.instagram.com/spzo404" target="_blank" rel="noopener noreferrer">photography, computers</a>,
    and
    <a href="https://www.last.fm/user/ridelore" target="_blank" rel="noopener noreferrer">music</a>. 
    If you'd like to chat, feel free to <a href="https://calendly.com/phxion/15min" target="_blank" rel="noopener noreferrer">schedule a call</a> or send me an
    <a href="mailto:m@rtin.ms">e-mail</a>.
  </p>
</article>
