---
layout: layouts/base.njk
textNav:
  aliases: [home, index]
eleventyNavigation:
  key: bio
  title: main
---
<article class="bio">
  <p class="big-text">
    Hi! I'm <span class="bio__photo" tabindex="0">Martin</span>!
    I'm a calm but curious person, who's passionate about
    <a href="https://github.com/phixion" target="_blank" rel="noopener noreferrer">open-source </a>,
    computers, and
    <a href="https://www.last.fm/user/ridelore" target="_blank" rel="noopener noreferrer">music</a>. 
  </p>
</article>
